<!--<div>-->
  <a onclick="popup('popUpDiv')" href="#" id = "opener" class="button icon"><span aria-hidden="true" data-icon="&#x23;"></a>
<!--</div>-->
<%= form_for :entry, :url => {:action => :create}, :html => {:id => "createEntry"} do |f| %>
  <%= f.hidden_field :user_id, :value => current_user.id%>
  <div id="blanket" style="display:none;"></div>
  <div id="popUpDiv" style="display:none;" class=fields>
    <%= f.text_area :content%>
    <div id="distractionAlerts"></div>
  </div>
<% end %>
