<%= form_tag('/entries', method: "post", id: "createEntry") do -%>
  <%= hidden_field_tag "entry[user_id]", current_user.id%>
  <div id="blanket" style="display:none;"></div>
  <div id="popUpDiv" data-updated-at="" data-bg-color-hex="" data-font-color-hex="" data-font-point="" data-created-at="" data-entry-id="" data-dist-count="" data-dist-time="" style="display:none;">
    <%= text_area_tag "entry[content]"%>
    <div id="distractionAlerts" class="cf"></div>
  </div>
<% end %>
