<%= form_tag('/entries', method: "post", id: "createEntry") do -%>
  <%= hidden_field_tag "entry[user_id]", current_user.id%>
  <div id="blanket" style="display:none;"></div>
  <div id="popUpDiv" data-created-at="" data-entry-id="" data-dist-count="" data-dist-time="" style="display:none;">
  	<div id="editorHead">
  		<a role="button" id="entry_content_close" class="ed-button" href="javascript:;" onmousedown="return false;" onclick="return false;" aria-labelledby="entry_content_close_voice" tabindex="-1">Close</a>
  		<a role="button" id="entry_content_save" class="ed-button" href="javascript:;" onmousedown="return false;" onclick="return false;" aria-labelledby="entry_content_save_voice" tabindex="-1">Save</a>
  	</div>
    <%= text_area_tag "entry[content]"%>
    <div id="distractionAlerts" class="cf"></div>
  </div>
<% end %>
