<%= form_tag('/entries', method: "post", id: "createEntry") do -%>
<%# <%= form_tag "/entries", method: "post", :html => {:id => "createEntry"} do |f| %>
  <%= hidden_field_tag "entry[user_id]", current_user.id%>
  <div id="blanket" style="display:none;"></div>
  <div id="popUpDiv" data-entry-id="" style="display:none;">
    <%= text_area_tag "entry[content]"%>
    <div id="distractionAlerts"></div>
  </div>
<% end %>
