<!--<div>-->
  <a onclick="popup('popUpDiv')" href="#"><button id = "opener" class="button left">New Entry</button></a>
<!--</div>-->
<%= form_for :entry, :url => {:action => :create}, :html => {:id => "createEntry"} do |f| %>
  <div id="blanket" style="display:none;"></div>
  <div id="popUpDiv" style="display:none;" class=fields>
    <%= f.text_area :content%>
    <div id="distractionAlerts"></div>
  </div>
<% end %>
