<%= form_for "/entries", method: "post", :html => {:id => "createEntry"} do |f| %>
  <%= f.hidden_field :user_id, :value => current_user.id%>
  <div id="blanket" style="display:none;"></div>
  <div id="popUpDiv" style="display:none;" class=fields>
    <%= f.text_area :content%>
    <div id="distractionAlerts"></div>
  </div>
<% end %>
