  <header class="main-header">
    <h1><%= link_to "jurnl", entries_path %></h1>
    <form>
      <input type="button" class="button" value="Search">
      <a href="#" title="Search by Month" class="button icon"><span aria-hidden="true" data-icon="&#x27;"></span></a>
      <input type="text" name="search" class="search right">
    </form> 
  </header>
