  <section class="navigation">
    <a href="#" id = "opener" title="Edit Entry" class="button icon"><span aria-hidden="true" data-icon="&#xe600;"></a>
    <a href="/statistics" title="Statistics" class="button icon"><span aria-hidden="true" data-icon="&#xe601;"></span></a>
    <a href="/users/<%=current_user.id%>/edit" title="Settings" class="button icon"><span aria-hidden="true" data-icon="&#xe602;"></span></a>
    <a href="javascript:void(0);" title="Export" id="export" class="button icon"><span aria-hidden="true" data-icon="&#xe605;"></span></a>
    <a href="/users/readme" title="Help" id="help" class="button icon">?</a>
    <%= link_to :destroy_user_session, :class => "button icon", :title => "Sign Out", :method => :delete do %>
      <span aria-hidden="true" data-icon="&#xe603;">
    <% end %>
  </section>
