/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/*-------------------- CLEARFIX --------------------*/

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/*-------------------- COLORS --------------------*/

$primary: #ed5153;
$secondary: #51aded;
$grey: #536270;
$white: #fdfdfd;
$background: darken($grey,10%);

* {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
	display: inline;
}

ul {
	margin-top: 0.6em;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


/*-------------------- GLOBAL STYLES --------------------*/

body {
  font-size: 16px;
  background-color: $background;
  margin: 0;
  padding: 0;
}

h1 {
	float: left;
	color: $white;
	font-size: 3em;
	margin-top: 0.05em;
	margin-left: 0.1em;
	font-family: 'open_sansbold', sans-serif;
}

a {
	text-decoration: none;
	color: $white;
}

label {
	color: $white;
}

input {
	background-color: $white;
	font-size: 1em;
	height: 2em;
	width: 12em;
	margin: 1.4em 0 0;
	border: 0;
	padding: 0 1em;
	outline: 0;
}
input.search-button{
	width: auto;
	line-height: 2em;
}
input.search-button:hover{
	right: 1px solid black;
}

.button {
	color: #ffffff;
	background-color: $primary;
	text-decoration: none;
	font-family: 'open_sanslight', sans-serif;
	font-size: 1em;
	height: 2.5em;
	line-height: 2.5em;
	padding: 0 1em;
	border: 0;
	padding: 0 1em;
}

.button:hover {
	background-color: darken($primary, 10%);
	cursor: pointer;
}

.button:active {
	position:relative;
	top:1px;
}

.wrapper {
	max-width: 50em;
	width: 100%;
	margin: 0 auto;
}

.alert, .notice {
	display: block;
	color: $white;
	font-size: 1em;
	line-height: 2.5em;
	font-family: 'open_sanslight', sans-serif;
	.close {
		margin-right: 1em;
	}
	.close:hover {
		cursor: pointer;
	}
}

.alert {
	background-color: $primary;
}

.notice {
	background-color: $secondary;
}

 .shared_links {
// 	width: 50%;
// 	margin: 0 auto;
// 	background-color: rgba($grey, 0.7);
// 	padding: 1em 0;
	li {
		display: block;
	}
	text-shadow: 1px 1px $background;
}

/*-------------------- MAIN SCREEN --------------------*/

.navigation {
	position: fixed;
	margin: 5em 0 0 -5em;
	.icon {
		font-size: 2em;
		line-height: 2em;
		display: block;
		text-align: center;
		height: 2em;
		width: 2em;
		margin: .2em 0 0 0;
		padding: 0;
	}
	.icon:first-child {
		margin-top: 0;
	}
}


.main-header {
	height: 5em;
	margin-top: 1em;
	input {
		float: right;
	}
        
        .date-selects-hidden{
          visibility: hidden;
          width: 0;
          margin: 0;
          padding: 0;
          display: inline;
        }

        .date-selects{
                font-size: 1em;
                height: 2em;
                margin: 1.4em 0 0;
                border: 0;
                outline: 0;
                float:right;  
                display: inline;
                height: 2em;
        }

	input.search-button{
		height: 2em;
	}
	.icon {
		float: right;
		height: 2em;
		width: auto;
		margin: 1.4em 0 0;
		line-height: 2.2em;
		padding: 0 0.5em;
		border-right: 1px solid lighten($primary, 15%);
	}
}

.entry {
	font-family: 'bitterregular', serif;
	background-color: $white;
	margin-bottom: 1em;
	padding: 1em;
	h4 {
		font-size: 1.4em;
		float: left;
		color: $primary;
		margin-bottom: .6em;
	}
	ul {
		list-style: disc outside none;
	}
	li {
		list-style: disc outside none;
		margin-left: 1.5rem;
		display: list-item;
	}
	ol li {
		list-style-type: decimal;
	}
	blockquote > * {
		margin-bottom: 0.6rem;
	}
	blockquote {
		margin: 0 1.2rem 0.8rem;
	}
	position: relative;
	overflow: hidden;
}

.entry > * {
	margin-bottom: 0.6rem;
}

.entry .goal-met{
	float: right;
	font-size: 1.7rem;
	color: $secondary;
	display: none;
}

.entry.true .goal-met{
	/*-- 
			This shows up when the goal is met. 
			Overrides display: none 
	--*/
	display: block;
}

.entry:hover {
	cursor: pointer;
	.read-more-fade {
		color: $primary;
	}
}

.tag {
	color: $primary;
	font-size: 0.8em;
}

.tag:hover {
	color: darken($primary, 20%);
}

.entry .read-more-fade { 
	font-size: 2rem;
	line-height: 1rem;
	position: absolute; 
	bottom: 0; left: 0;
	width: 100%; 
	text-align: center; 
	margin: 0; padding: 4rem 0 0.5rem;
	display: none;
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, rgba(255,255,255,0.001)),color-stop(60%, white));
        background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.001) 0%, white 60%);
        background-image: -moz-linear-gradient(top, rgba(255,255,255,0.001) 0%, white 60%);
        background-image: -ms-linear-gradient(top, rgba(255,255,255,0.001) 0%, white 60%);
        background-image: -o-linear-gradient(top, rgba(255,255,255,0.001) 0%, white 60%);

	-webkit-transition: color 0.15s ease-in-out;
	-moz-transition: color 0.15s ease-in-out;
	-o-transition: color 0.15s ease-in-out;
	transition: color 0.15s ease-in-out; 
}

.entry.expandable{
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out; 
	max-height: 18rem;
	.read-more-fade{
		display: block;
	}
}

.entry.expandable.expanded {
	max-height: 100rem;
	.read-more-fade{
		display: none;
	}
}

.entry .read-more-fade:hover {
	cursor: pointer;
}

/*-------------------- Searching by Date --------------------*/

#prev-month, #next-month {
	background-color: $primary;
	display: block;
	color: $white;
	padding: 0.2rem;
	text-align: center;
	width: 8rem;
	font-size: 1em;
	line-height: 2.5em;
	font-family: 'open_sanslight', sans-serif;
	margin-bottom: 1rem;
}
#prev-month:hover, #next-month:hover {
	background-color: darken($primary, 10%);
}
#prev-month {
	float: left;
}
#next-month {
	float: right;
}

/*-------------------- LOGIN SCREEN --------------------*/

.entrance {
	margin: 4em 0;
	background-color: $background;
}

.form {
	text-align: center;
	font-family: 'open_sanslight', sans-serif;
	header {
		h1 {
			margin-top: 0.2em;
			float: none;
			text-align: center;
			font-size: 8em;
			text-shadow: 3px 3px $background;
		}
	}
	.new_user{
		float: left;
		width:47%;
		margin: 1em 1% 1em 2%;
		padding: 0;
		input {
			border: 0;
			padding: 0;
			margin: 0 0 1em 0;
			width: 100%;
			height: 2em;
		}
		input[type=email], input[type=password]{
			width: 96%;
			padding: 0 2%;
		}
		.remember {
			position: relative;
			height: 2em;
			margin-bottom: 1em;
			white-space: nowrap;
			label {
				position: absolute;
				top: .4em;
				left: .5em;
				display: inline-block;
				height: 2em;
			}
			input {
				width: auto;
				border-radius: 0;
				position: absolute;
				top: 0;
				left: 8em;
			}
		}
		input[type=checkbox]{
			display: inline;
		}
		.button {
			line-height: 1.5em;
			font-size: 1.5em;
			margin-bottom: 0;
			background-color: $primary;
		}
	}
	.new_user:last-child{
		margin: 1em 2% 1em 1%;
	}
}

/*---------- RESEND CONFIRMATION INSTRUCTIONS ----------*/

.alternate{
	width: 50%;
	margin: 4em auto;
	.new_user {
		margin: 1em 3%;
		width: 94%;
	}
	.new_user:last-child {
		margin: 1em 3%;
	}
}

#error_explanation {
	color: $white;
	margin-bottom: 1em;
}

/*---------- Editor Styling ------------*/
#blanket {
    background-color:#111;
    opacity: 0.80;
    filter:alpha(opacity=80);
    position:fixed;
    z-index: 9001;
    top:0px;
    left:0px;
    width:100%;
    height: 100%;
}
#popUpDiv {
    position: fixed;
    margin-left: -30rem;
    left: 50%;
    margin-top: 5rem;
    background-color:#eeeeee;
    z-index: 9002;
    width: 60rem !important;
}
#distractionAlerts, #editorHead {
	background-color: $background;
	color: $white;
	font-family: "open_sanslight", sans-serif;
	font-size: 1rem;
	.ed-button{
		border-right: 1px solid lighten($background, 20%);
		display: inline-block;
		padding: 0.4rem 0.7rem;
	}
	.ed-button:hover {
		background-color: lighten($background, 10%);
	}
}
#distractionAlerts {
	padding: 0.4rem;
	div {
		width: 31%;
		padding: 1%;
		float: left;
	}
}

/*---------- Statistics & Settings ----------*/

.statistics {
	background-color: $white;
	padding: 1rem;
	font-family: 'bitterregular', serif;
	text-align: center;
	padding-bottom: 3rem;
	h2 {
		font-family: 'bitterbold', serif;
		color: $primary;
	}
}

.stat-box {
	width: 50%;
	float: left;
	p {
		margin-top: 0.5rem;
	}
	margin: 1rem 0 2rem;
}

.settings {
	background-color: $white;
	padding: 1rem;
	font-family: 'bitterregular', serif;
	h2 {
		font-family: 'bitterbold', serif;
		color: $primary;
	}
	label {
		width: 30%;
		color: #000000;
		display: inline-block;
	}
	p {
		margin-top: 1rem
	}
	select {
		margin: 0;
		width: 4rem;
	}
	input {
		padding: 0.2rem 0.4rem;
		margin: 0;
		border: 1px solid #000000;
	}
	.button {
		padding: 0;
		border: 0;
		margin: 1rem 0;
	}
}

/*---------- Dropdown Plugin CSS ----------*/
.sbHolder{
	background-color: $primary;
	border-right: 1px solid lighten($primary, 15%);
	font-family: Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	height: 100%;
	position: relative;
	width: 7rem;
	display:inline-block;
	padding: 0;
	margin: 0;
	font-family: 'open_sanslight', sans-serif;
}
.sbHolder:focus .sbSelector{
	
}
.sbSelector{
	display: block;
	height: 32px;
	left: 0;
	line-height: 30px;
	outline: none;
	overflow: hidden;
	position: absolute;
	text-indent: 10px;
	top: 0;
	width: 7rem;;
}
.sbSelector:link, .sbSelector:visited, .sbSelector:hover{
	color: $white;
	outline: none;
	text-decoration: none;
}
.sbToggle{
	background: image-url('select-icons.png') 0 -116px no-repeat;
	display: block;
	height: 30px;
	outline: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
}
.sbToggle:hover{
	background: image-url('select-icons.png') 0 -167px no-repeat;
}
.sbToggleOpen{
	background: image-url('select-icons.png') 0 -16px no-repeat;
}
.sbToggleOpen:hover{
	background: image-url('select-icons.png') 0 -66px no-repeat;
}
.sbHolderDisabled{
	background-color: #3C3C3C;
	border: solid 1px #515151;
}
.sbHolderDisabled .sbHolder{
	
}
.sbHolderDisabled .sbToggle{
	
}
.sbOptions{
	background-color: $primary;
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 30px;
	width: 7rem;
	z-index: 1;
	overflow-y: auto;
}
.sbOptions li{
}
.sbOptions a{
	border-top: 1px solid lighten($primary, 15%);
	display: block;
	outline: none;
	padding: 8px 0 8px 12px;
}
.sbOptions a:link, .sbOptions a:visited{
	color: $white;;
	text-decoration: none;
}
.sbOptions a:hover,
.sbOptions a:focus,
.sbOptions a.sbFocus{
	background-color: darken($primary, 10%);
}
.sbOptions li.last a{
	border-bottom: none;
}
.sbOptions .sbDisabled{
	border-bottom: dotted 1px #515151;
	color: #999;
	display: block;
	padding: 7px 0 7px 3px;
}
.sbOptions .sbGroup{
	border-bottom: dotted 1px #515151;
	color: #EBB52D;
	display: block;
	font-weight: bold;
	padding: 7px 0 7px 3px;
}
.sbOptions .sbSub{
	padding-left: 17px;
}
