@font-face {
	font-family: 'icomoon';
    src:url('icomoon.eot');
	src:url(font-path('icomoon.eot') + "?#iefix") format('embedded-opentype'),
		url(font-path('icomoon.woff')) format('woff'),
		url(font-path('icomoon.ttf')) format('truetype'),
		url(font-path('icomoon.svg') + "#icomoon") format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'open_sanslight';
    src: url(font-path('OpenSans-Light-webfont.eot'));
    src: url(font-path('OpenSans-Light-webfont.eot') + "?#iefix") format('embedded-opentype'),
         url(font-path('OpenSans-Light-webfont.woff')) format('woff'),
         url(font-path('OpenSans-Light-webfont.ttf')) format('truetype'),
         url(font-path('OpenSans-Light-webfont.svg') + "#open_sanslight") format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansbold';
    src: url(font-path('OpenSans-Bold-webfont.eot'));
    src: url(font-path('OpenSans-Bold-webfont.eot') + "?#iefix") format('embedded-opentype'),
         url(font-path('OpenSans-Bold-webfont.woff')) format('woff'),
         url(font-path('OpenSans-Bold-webfont.ttf')) format('truetype'),
         url(font-path('OpenSans-Bold-webfont.svg') + "#open_sansbold") format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bitterregular';
    src: url(font-path('bitter-regular-webfont.eot'));
    src: url(font-path('bitter-regular-webfont.eot') + "?#iefix") format('embedded-opentype'),
         url(font-path('bitter-regular-webfont.woff')) format('woff'),
         url(font-path('bitter-regular-webfont.ttf')) format('truetype'),
         url(font-path('bitter-regular-webfont.svg') + "#bitterregular") format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bitteritalic';
    src: url(font-path('bitter-italic-webfont.eot'));
    src: url(font-path('bitter-italic-webfont.eot') + "?#iefix") format('embedded-opentype'),
         url(font-path('bitter-italic-webfont.woff')) format('woff'),
         url(font-path('bitter-italic-webfont.ttf')) format('truetype'),
         url(font-path('bitter-italic-webfont.svg') + "bitteritalic") format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bitterbold';
    src: url(font-path('bitter-bold-webfont.eot'));
    src: url(font-path('bitter-bold-webfont.eot') + "?#iefix") format('embedded-opentype'),
         url(font-path('bitter-bold-webfont.woff')) format('woff'),
         url(font-path('bitter-bold-webfont.ttf')) format('truetype'),
         url(font-path('bitter-bold-webfont.svg') + "#bitterbold") format('svg');
    font-weight: normal;
    font-style: normal;
}